header {

    h1 {
        color: #253141;
        font-size: 36px;
        font-weight: 800;
    }
    
    h2 {
        color: #212b3a;
        font-size: 18px;
        font-weight: 300;
    }
    
    button {
        font-size: 16px;
        font-weight: 500;
    }
}