app-filter-sort + hr {
    border-top: 3px solid #e0e0e0;
}

.btn {
    color: #212b3a;
    border-color: #bdbdbd;
    background-color: #dadada;

    &:hover {
        background-color: darken(#009c38, 10%);
        color: white;
    }
}