.navbar-brand {
    width: 131px;
    height: 13px;
    background-image: url('../../assets/images/tutormatch-logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -100px;
    overflow: hidden;
}

.btn-outline-dark {
    border-radius: 0;
}